body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    text-align: center;
}

main{
    height: ;
    border:3px double purple;
    display:flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    
}
.box{
    display: inline-block;
    box-sizing: border-box;
}





footer{
    text-align: center;
    font-size: 12px;
}
